@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*, 
*::before, 
*::after {
    box-sizing: border-box;
    margin: 0;
}

/* Base Styles */

body {
    font-family: 'Source Sans 3', sans-serif;
}

main {
    max-width: 1085px;
    margin: 0 auto;
}

/* Header Section */

header {
    margin: auto;
    max-width: 1085px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25em;
}

#logo {
    display: flex;
    align-items: center;
}

#logo-img {
    height: 2.125em;
}

#logo-text {
    font-size: .875rem;
    font-family: 'Roboto', sans-serif;
    margin-left: .25rem;
    font-weight: 800;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 30px;
}

.current-page {
    background-color: #D7D7D7;
    border-radius: 3px;
}

nav li a {
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: .5rem 1rem;
}

nav li a:visited {
    text-decoration: none;
    color: #000000;
}

/* Hero Section */

section.hero {
    background-image: url(../images/blog-image-hero.png);
    min-height: 294px;
    overflow: hidden;
    background-size: cover;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: .5em;
    padding: 1.25rem;
    margin-bottom: 2.215rem;
}

.hero-date {
    text-transform: uppercase;
    font-size: .75em;
}

.hero-title {
    font-size: 2em;
    font-weight: bold;
    line-height: 1.08;
    letter-spacing: -.03125em;
}

/* Blog Post List View */

.blog-posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: 1fr;
    gap: 1.625rem;
    margin-bottom: 2.5rem;
}

.blog-feature-image {
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
    margin-bottom: .875rem;
}

.blog-title a {
    text-decoration: none;
}

.blog-summary {
    line-height: 1.25;
}

#view-more {
    margin-bottom: 2.5rem;
}

/* Footer Section */

footer {
    height: 105px;
    background: #202020;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-title {
    color: #ECECEC;
}

.footer-copyright {
    color: #D7D7D7;
}

/* Media Queries */

@media (min-width: 800px) {
    section.hero {
        min-height: 488px;
    }

    .about-me {
        padding: 0 4.25rem;
    }
}

@media (max-width: 800px) { 
    .about-me {
            padding: 0 1.25rem;
    }
}

@media (max-width: 1120px) {

    .intro-header { 
        padding: 0 1.25rem;
    }
    
    .blog-posts {
        padding: 0 1.25rem;
    }

    article.post {
        padding: 0 1.25rem;
    }
}

/* About Me Page */

.intro-header {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
    gap: 26px;
}

.profile-pic {
    border-radius: 50%;
    width: 182px;
    height: 182px;
    border: 2px dashed #000000;
}

.intro-header-text {
    flex: 1 1 400px;
}

.intro-header-text h1 {
    font-size: 2.25em;
    line-height: 1.08;
}

.about-me h3 {
    font-size: 1.25em;
    margin-bottom: 1rem;
}

.about-me h3:last-of-type {
    margin-top: 1rem;
}

.recent-posts > h2 {
    margin:  3.125rem 0 1.75rem;
    text-align: center;
}

/* Blog Post Page */

article.post {
    margin-top: 2rem;
}

article.post h1 {
    margin-bottom: 1.625rem;
}

article.post img {
    display: inline-block;
    width: 100%;
    margin: 0 auto 1rem;
}

article.post h2 {
    margin-bottom: 1rem;
}

article.post p {
    margin-bottom: 1rem;
}
