@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Source Sans 3', sans-serif;
}

/* Header Section */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25em;
}

#logo {
    display: flex;
    align-items: center;
}

#logo-img {
    height: 2.125em;
}

#logo-text {
    font-size: .875rem;
    font-family: 'Roboto', sans-serif;
    margin-left: .25rem;
    font-weight: 800;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav li {
    font-weight: 600;
    text-transform: uppercase;
}

/* Hero Section */

section.hero {
    background-image: url(../images/blog-image-hero.png);
    min-height: 294px;
    overflow: hidden;
    background-size: cover;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: .5em;
    padding: 1.25rem;
    margin-bottom: 2.215rem;
}

.hero-date {
    text-transform: uppercase;
    font-size: .75em;
}

.hero-title {
    font-size: 2em;
    font-weight: bold;
    line-height: 108%;
    letter-spacing: -.03125em;
}

/* Blog Post List View */

#blog-posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: 1fr;
    grid-auto-flow: dense;
    gap: 40px;
    padding: 0 20px;
    margin-bottom: 2.5rem;
}

.blog-feature-image {
    display: block;
    width: 100%;
    object-fit: cover;
    margin-bottom: .875rem;
}

#view-more {
    margin-bottom: 2.5rem;
}

/* Footer Section */

footer {
    height: 105px;
    background: #202020;
}
